In [ ]:
#Map

In [1]:
def double(x):
    return 2*x
l= [2,3,4,5,6]
list(map(double,l))

[4, 6, 8, 10, 12]

In [ ]:
#in map outout remain same as input(5=5), iterating on individual value
#In filter  outout maybe less as input

In [3]:
list(map(lambda x : x*2 , l ))

[4, 6, 8, 10, 12]

In [4]:
list1=[5,3,2,6,8,9]
list2=[6,5,2,4,7,6]
list(map(lambda x,y :x*y,list1,list2))

[30, 15, 4, 24, 56, 54]

In [7]:
#Reduce
from functools import *
list1=[20,40,60,80,100]
reduce (lambda x,y : x+y ,list1)

300

In [11]:
#string function
city = input('enter your city')
list1 =['Mumbai','Hyderabad','Pune','Nashik']
if city in list1:
    print('your city is present')
else:
    print('your city is not present')

enter your cityMumbai
your city is present

In [12]:
city = input('enter your city')
list1 =['Mumbai','Hyderabad','Pune','Nashik']
if city in list1:
    print('your city is present')
else:
    print('your city is not present')#if we give input at left space then o/p is not

enter your city mumbai
your city is not present

In [13]:
city = input('enter your city')
list1 =['Mumbai','Hyderabad','Pune','Nashik']
if city in list1:
    print('your city is present')
else:
    print('your city is not present')# to neglect this we called functions

enter your city$Mumbai
your city is not present

In [14]:
city = input('enter your city')
list1 =['Mumbai','Hyderabad','Pune','Nashik']
if city.lstrip in list1:
    print('your city is present')
else:
    print('your city is not present')

enter your city  Mumbai
your city is not present

In [15]:
city = input('enter your city')
list1 =['Mumbai','Hyderabad','Pune','Nashik']
if city.lstrip() in list1:
    print('your city is present')
else:
    print('your city is not present')

enter your city  Mumbai
your city is present

In [16]:
city = input('enter your city')
list1 =['Mumbai','Hyderabad','Pune','Nashik']
if city in list1:
    print('your city is present')
else:
    print('your city is not present')#to neglect this type of output we have to passin bracket(@)

enter your city  @Mumbai
your city is not present

In [19]:
city = input('enter your city')
list1 =['Mumbai','Hyderabad','Pune','Nashik']
if city.lstrip('@') in list1:
    print('your city is present')
else:
    print('your city is not present')

enter your city@Mumbai
your city is present

In [21]:
city = input('enter your city')
list1 =['Mumbai','Hyderabad','Pune','Nashik']
if city.rstrip('$') in list1:
    print('your city is present')
else:
    print('your city is not present')

enter your cityMumbai$$$
your city is present

In [23]:
city = input('enter your city')
list1 =['Mumbai','Hyderabad','Pune','Nashik']
if city.strip('%') in list1:
    print('your city is present')
else:
    print('your city is not present')

enter your city%%%%Pune%%%%
your city is present

In [24]:
s=('rahul nikam rahul nikam')
s.find('nikam')

6

In [25]:
s=('rahul nikam rahul nikam')
s.find('mercedes')

-1

In [ ]:
#find function will return the index of first match only from left to right
#if it is not finding match it will give -1 index(it is not reverse index)

In [26]:
s=('rahul nikam rahul nikam')
s.rfind('nikam')

18

In [27]:
s=('rahul nikam rahul nikam')
s.index('nikam')

6

In [28]:
s=('rahul nikam rahul nikam')
s.rindex('nikam')

18

In [29]:
s=('rahul nikam rahul nikam')
s.rindex('rahul')

12

In [30]:
s=('rahul nikam rahul nikam')
s.index('i')

7

In [31]:
s=('rahul nikam rahul nikam')
s.index('i',5,21)

7

In [32]:
s=('rahul nikam rahul nikam')
s.index('i',10,21)

19

In [33]:
s=input('enter the string')
sub=input('enter the string which u r looking for')
Flag = False
pos=-1
n= len(s)
while True:
    pos = s.find(sub, pos+1, n)
    if pos == -1:
        break
    print('Found the value at index:',pos)
    flag= True
if flag==False:
    print('no',sub,'found')

enter the stringrahulllll
enter the string which u r looking forl
Found the value at index: 4
Found the value at index: 5
Found the value at index: 6
Found the value at index: 7
Found the value at index: 8

In [45]:
s= input ('enter the string')
sub= input ('enter the string which u r looking for')
flag = False
pos = -1
n = len(s)
while True:
    pos = s.find(sub, pos+1,n)
    if pos == -1:
        break
    print('Found the value at  the index:',pos)
    flag = True
if flag == False:
    print('no', sub ,'found')

enter the stringrahhukkk
enter the string which u r looking fort
no t found

In [46]:
s=('Rahul nikam Rahul Nikam')
s.replace('Rahul','RN')

'RN nikam RN Nikam'

In [48]:
s=('Rahul nikam Rahul Nikam')
print(id(s))
s=s.replace('Rahul','RN')
print(id(s))

1830830002624
1830830002304

In [49]:
s='Rahul Mathaji Nikam'
s.split()

['Rahul', 'Mathaji', 'Nikam']

In [50]:
s='Rahul+Mathaji+Nikam'
s.split('+')

['Rahul', 'Mathaji', 'Nikam']

In [51]:
s='Rahul+Mathaji+Nikam'
s.split('')

ValueError: empty separator

In [52]:
s ='A-B-C-D-E-F-G-H-I-J'
s.split('-',6)

['A', 'B', 'C', 'D', 'E', 'F', 'G-H-I-J']

In [56]:
s='A B C D E F G H I J K L M N  '
s.split()

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N']

In [57]:
list=['Rahul','Mathaji','Nikam']
s='-'.join(list)

In [58]:
s

'Rahul-Mathaji-Nikam'

In [59]:
s='Rahul NIkam is a Mercedes AMG Expert'
print(s.upper())
print(s.lower())
print(s.title())
print(s.swapcase())
print(s.capitalize())

RAHUL NIKAM IS A MERCEDES AMG EXPERT
rahul nikam is a mercedes amg expert
Rahul Nikam Is A Mercedes Amg Expert
rAHUL niKAM IS A mERCEDES amg eXPERT
Rahul nikam is a mercedes amg expert

In [60]:
s='python is so simple but needs practice'
s.startswith('python')
s.endswith('practice')

True

In [61]:
s='python is so simple but needs practice'
s.startswith('python')
s.endswith('but')

False

In [ ]:
isalpha()
isalnum()
isdigit()
isupper()
islower()
istitle()
isspace()

In [62]:
print('rahul123'.isalnum())
print('RAhul'.isalpha())
print(' '.isspace())
print('0909'.isdigit())
print('RAHUl'.islower())

True
True
True
True
False

In [63]:
s= input('enter the string ')
if s.isalnum():
    print('the string is alphanumeric')
    if s.isalpha():
        print('the string is alphabet')
        if s.islower():
            print('the string is lower')
        else:
            print('the string is upper')
    else:
        print('the string is digit')
elif s.isspace():
    print('it is a space ')
else:
    print('no space it is a special character')

enter the string Rahul
the string is alphanumeric
the string is alphabet
the string is upper

In [64]:
s= input('enter the string ')
if s.isalnum():
    print('the string is alphanumeric')
    if s.isalpha():
        print('the string is alphabet')
        if s.islower():
            print('the string is lower')
        else:
            print('the string is upper')
    else:
        print('the string is digit')
elif s.isspace():
    print('it is a space ')
else:
    print('no space it is a special character')

enter the string 123
the string is alphanumeric
the string is digit

In [65]:
s= input('enter the string ')
if s.isalnum():
    print('the string is alphanumeric')
    if s.isalpha():
        print('the string is alphabet')
        if s.islower():
            print('the string is lower')
        else:
            print('the string is upper')
    else:
        print('the string is digit')
elif s.isspace():
    print('it is a space ')
else:
    print('no space it is a special character')

enter the string
it is a space

In [66]:
s= input('enter the string ')
if s.isalnum():
    print('the string is alphanumeric')
    if s.isalpha():
        print('the string is alphabet')
        if s.islower():
            print('the string is lower')
        else:
            print('the string is upper')
    else:
        print('the string is digit')
elif s.isspace():
    print('it is a space ')
else:
    print('no space it is a special character')

enter the string #$
no space it is a special character

In [67]:
s= 'Rahul'
s[:]

'Rahul'

In [69]:
s= 'Rahul'
s[::-1]

'luhaR'

In [70]:
reversed(s)
for x in reversed(s):
    print(x)

l
u
h
a
R

In [71]:
reversed(s)
for x in reversed(s):
    print(x, end='')

luhaR

In [75]:
s=input('enter the string')
i= len(s)-1
print(i)
output=''
while i>=0:
    output = output +s[i]
    i=i-1
print(output)

enter the stringrahul
4
luhar

In [ ]:
s=input('enter the string')
list= s.split()
print(list)
l1=[]
i=len(list)-1
while i>=0:
    l1.append(list[i])
    i=i-1
print(l1)
output=''.join(l1)
print(output)

In [ ]:
enter the stringrahul is amg expert
['rahul', 'is', 'amg', 'expert']
['expert', 'amg', 'is', 'rahul']
expertamgisrahul