In [ ]:
#input

In [1]:
ages=input('please enter age')

please enter age32

In [2]:
ages

'32'

In [3]:
name=input('please enter your name')

please enter your nameRAHUL MATHAJI NIKAM

In [4]:
name

'RAHUL MATHAJI NIKAM'

In [5]:
type(name)

str

In [6]:
ages

'32'

In [8]:
type(ages)

str

In [12]:
ages=int(input('enter your age'))

enter your age32

In [10]:
ages

32

In [11]:
type(ages)

int

In [13]:
ages=float(input('enter your age'))

enter your age51

In [14]:
ages

51.0

In [17]:
numbers=input('enter 5 number')

enter 5 number32 55 61 32 12

In [18]:
numbers

'32 55 61 32 12'

In [19]:
numbers=input('enter 5 nubmer').split()

enter 5 nubmer32 35 15 56 12

In [20]:
numbers

['32', '35', '15', '56', '12']

In [21]:
numbers=input('enter 5 number').split()

enter 5 number32,35,15,56,12

In [22]:
numbers

['32,35,15,56,12']

In [25]:
numbers=input('enter 5 number').split(',')

enter 5 number32,35,15,56,12

In [26]:
numbers

['32', '35', '15', '56', '12']

In [27]:
numbers=input('enter 5 number').split(',')

enter 5 number32 35 15 56 12

In [28]:
numbers

['32 35 15 56 12']

In [30]:
numbers=[int(x) for x in input('enter 5 number').split(',')]

enter 5 number32,25,56,54,12

In [31]:
numbers

[32, 25, 56, 54, 12]

In [32]:
type(numbers)

list

In [33]:
sum(numbers)

179

In [35]:
detail=input('enter Name,age,ms,salary').split(',')

enter Name,age,ms,salaryRahul,32,true,21.5

In [36]:
detail

['Rahul', '32', 'true', '21.5']

In [37]:
type(detail)

list

In [40]:
detail=[eval(x) for x in input('enter Name,age,ms,salary').split(',')]

enter Name,age,ms,salaryRahul,32,true,21.5

NameError: name 'Rahul' is not defined

In [44]:
detail=[eval(x) for x in input('enter Name,age,ms,salary').split(',')]

enter Name,age,ms,salary'Rahul',32,True,21.5

In [45]:
detail

['Rahul', 32, True, 21.5]

In [47]:
type(detail[0])

str

In [48]:
type(detail[1])

int

In [49]:
type(detail[2])

bool

In [50]:
type(detail[3])

float

In [ ]:
#output

In [51]:
print('hello')
print()
print('hi')

hello

hi

In [52]:
print('hello \n all')

hello
 all

In [53]:
print('hello \t hi')

hello 	 hi

In [55]:
print('Rahul'+' '+'Nikam')

Rahul Nikam

In [56]:
#form
a,b,c=10,20,30
print('enter the value: ',a,b,c)

enter the value:  10 20 30

In [58]:
print(a,b,c,sep=(':'))

10:20:30

In [60]:
print('Hello',end=' ')
print('student',end=' ')

Hello student

In [62]:
print(10,20,30,50,40,80,sep=('/'),end='-----')

10/20/30/50/40/80-----

In [2]:
a,b,c=10,20,30.5

In [3]:
print('the value of b is %f'%b)

the value of b is 20.000000

In [4]:
print('the value of c is %i'%c)

the value of c is 30

In [2]:
name = 'Rahul'
salary = 30000
company = 'Mercedes-Benz'
print('Hello', name, 'your salary is', salary,'and your comapany is', company)

Hello Rahul your salary is 30000 and your comapany is Mercedes-Benz

In [6]:
print('Hello {} your salary is {}  and your company is {}'. format(name,salary,company))

Hello Rahul your salary is 30000  and your company is Mercedes-Benz

In [7]:
print('Hello {} your salary is {}  and your company is {}'. format(company,salary,name))

Hello Mercedes-Benz your salary is 30000  and your company is Rahul

In [8]:
print('Hello {2} your salary is {1}  and your company is {0}'. format(company,salary,name))

Hello Rahul your salary is 30000  and your company is Mercedes-Benz

In [9]:
print('Hello {c} your salary is {s}  and your company is {n}'. format(n=name,s=salary,c=company))

Hello Mercedes-Benz your salary is 30000  and your company is Rahul

In [10]:
print('Hello {n} your salary is {s}  and your company is {c}'. format(n=name,s=salary,c=company))

Hello Rahul your salary is 30000  and your company is Mercedes-Benz

In [11]:
#Flow control
#If else
#For 
#While

In [ ]:
if codition:
    output
else condition:
    output

In [12]:
marks= int(input('enter your marks'))
if marks<35:
    print('ýou failed exam')
else:
    print('you passed exam')

enter your marks32
ýou failed exam

In [13]:
marks= int(input('enter your marks'))
if marks<35:
    print('ýou failed exam')
else:
    print('you passed exam')

enter your marks45
you passed exam

In [ ]:
if codition:
    output
elif codition:
    output
elif codition:
    output
else condition:
    output

In [16]:
marks= int(input('enter your marks'))
if marks<35:
    print('ýou failed exam')
elif marks>=35 and marks<=60:
    print('you got average marks')
else:
    print('you got excellent marks')

enter your marks32
ýou failed exam

In [17]:
marks= int(input('enter your marks'))
if marks<35:
    print('ýou failed exam')
elif marks>=35 and marks<=60:
    print('you got average marks')
else:
    print('you got excellent marks')

enter your marks36
you got average marks

In [18]:
marks= int(input('enter your marks'))
if marks<35:
    print('ýou failed exam')
elif marks>=35 and marks<=60:
    print('you got average marks')
else:
    print('you got excellent marks')

enter your marks65
you got excellent marks

In [19]:
x=int(input('enter the number'))
if x%2==0:
    print('the number is even')
else:
    print('the number is odd')

enter the number21
the number is odd

In [20]:
x=int(input('enter the number'))
if x%2==0:
    print('the number is even')
else:
    print('the number is odd')

enter the number24
the number is even

In [ ]:
#ForLoop

In [ ]:
for codition:
    statement1
    statement2
statement3

In [23]:
x= 'Rahul'
for a in x:
    print(a)
    print('HI')
print('Hello')

R
HI
a
HI
h
HI
u
HI
l
HI
Hello

In [24]:
name= 'The Mercedes'
count = 0
for x in name:
    print('before the loop')
    print(count)
    count = count+1
    print('after the loop')
    print(count)
    
print(count)

before the loop
0
after the loop
1
before the loop
1
after the loop
2
before the loop
2
after the loop
3
before the loop
3
after the loop
4
before the loop
4
after the loop
5
before the loop
5
after the loop
6
before the loop
6
after the loop
7
before the loop
7
after the loop
8
before the loop
8
after the loop
9
before the loop
9
after the loop
10
before the loop
10
after the loop
11
before the loop
11
after the loop
12
12

In [25]:
sales=[2121,5512,3221,4562]
profit=[211,321,251,254]

In [30]:
for i in range(0,len(sales)):
    print(profit[i]/sales[i])

0.09948137670909948
0.058236574746008705
0.07792610990375659
0.055677334502411226

In [ ]:
#while loop
while condition:
    statement1
    statement2
statement3

In [31]:
coupons = 5
utilized = 0
while utilized<6:
    print('total coupons left', coupons-utilized)
    utilized=utilized+1
print('no coupons left')

total coupons left 5
total coupons left 4
total coupons left 3
total coupons left 2
total coupons left 1
total coupons left 0
no coupons left

In [ ]:
#operator

In [ ]:
#Arithmatic operators
#Relational operators or comparision operators
#Logical operators
#Equality 
#bitwise
#Assignment 
#special

In [ ]:
#Arithmatic operators

#+  addition
#-  subtraction
#*  multiplication
#/  division
#%  modulo(remainder)
#// floor division9(neariest int of quatient)
#** power

In [1]:
a=10
b=3

In [2]:
print('a+b',a+b)
print('a-b',a-b)
print('a*b',a*b)
print('a/b',a/b)
print('a%b',a%b)
print('a//b',a//b)
print('a**b',a**b)

a+b 13
a-b 7
a*b 30
a/b 3.3333333333333335
a%b 1
a//b 3
a**b 1000

In [4]:
#relational operators
a = 50
b = 30
print('a>b',a>b)
print('a<b',a<b)
print('a>=b',a>=b)
print('a<=b',a<=b)

a>b True
a<b False
a>=b True
a<=b False

In [5]:
#relational operators(ascii value based problem)
a = 'Rahul'
b = 'rahul'
print('a>b',a>b)
print('a<b',a<b)
print('a>=b',a>=b)
print('a<=b',a<=b)

a>b False
a<b True
a>=b False
a<=b True

In [6]:
#Equality operator
list1 = [1,2,3,4,5]
list2 = [1,2,3,4,5]
list1==list2

True

In [7]:
list1!=list2

False

In [8]:
#Equality operator
list1 = [1,2,3,4,5]
list2 = [12,2,3,4,5]
list1==list2

False

In [9]:
list1!=list2

True

In [10]:
10=='10'

False

In [11]:
10==int('10')

True

In [ ]:
#logical operators
and
or
not

In [13]:
#non zero number true
#empty string false
#when 0 false
x = ''
y = 10
x and y

''

In [14]:
x = 1
y = 10
x and y

10

In [15]:
x or y

1

In [16]:
y and x

1

In [17]:
y or x

10