In [3]:
tuple1=(2,3,6,5,2)

In [ ]:
#tuple
#unmutable

In [4]:
a=tuple1

In [5]:
a

(2, 3, 6, 5, 2)

In [7]:
tuple1.count(2)

2

In [8]:
tuple1.index(2)

0

In [10]:
len(tuple1)

5

In [11]:
sum(tuple1)

18

In [12]:
del tuple1

In [ ]:
#range

In [14]:
range(0,10)

range(0, 10)

In [16]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:

(range(10,1,-5))

[10, 5]

In [ ]:
#dictionary {}

In [22]:
dict1={'A':15,'B':20,'C':52}

In [24]:
dict1['A']

15

In [26]:
dict1={'student_name':['A','B','C','D'],'student_age':[15,10,20,51]}

In [27]:
dict1['student_name']

['A', 'B', 'C', 'D']

In [28]:
dict1['student_age']

[15, 10, 20, 51]

In [29]:
dict1['student_name'][0]

'A'

In [32]:
dict1['student_name'][2]='K'

In [33]:
dict1

{'student_name': ['A', 'B', 'K', 'D'], 'student_age': [15, 10, 20, 51]}

In [36]:
dict1['region']=['S','E','W','N']

In [37]:
dict1

{'student_name': ['A', 'B', 'K', 'D'],
 'student_age': [15, 10, 20, 51],
 'region': ['S', 'E', 'W', 'N']}

In [38]:
dict1['marks']=[10,20,35,40]

In [39]:
dict1

{'student_name': ['A', 'B', 'K', 'D'],
 'student_age': [15, 10, 20, 51],
 'region': ['S', 'E', 'W', 'N'],
 'marks': [10, 20, 35, 40]}

In [42]:
import pandas as pd

In [45]:
pd.DataFrame(dict1)

  student_name  student_age region  marks
0            A           15      S     10
1            B           10      E     20
2            K           20      W     35
3            D           51      N     40

In [46]:
dict1

{'student_name': ['A', 'B', 'K', 'D'],
 'student_age': [15, 10, 20, 51],
 'region': ['S', 'E', 'W', 'N'],
 'marks': [10, 20, 35, 40]}

In [49]:
dict2 = dict1.fromkeys({'student_name','student_age','gender'},'NA')

In [50]:
dict2

{'student_name': 'NA', 'gender': 'NA', 'student_age': 'NA'}

In [53]:
dict2['gender']=['M','F','F','M']

In [54]:
dict2

{'student_name': 'NA', 'gender': ['M', 'F', 'F', 'M'], 'student_age': 'NA'}

In [55]:
dict1

{'student_name': ['A', 'B', 'K', 'D'],
 'student_age': [15, 10, 20, 51],
 'region': ['S', 'E', 'W', 'N'],
 'marks': [10, 20, 35, 40]}

In [59]:
dict1.get('region')

['S', 'E', 'W', 'N']

In [58]:
dict1

{'student_name': ['A', 'B', 'K', 'D'],
 'student_age': [15, 10, 20, 51],
 'region': ['S', 'E', 'W', 'N'],
 'marks': [10, 20, 35, 40]}

In [60]:
dict1.items()

dict_items([('student_name', ['A', 'B', 'K', 'D']), ('student_age', [15, 10, 20, 51]), ('region', ['S', 'E', 'W', 'N']), ('marks', [10, 20, 35, 40])])

In [61]:
dict1

{'student_name': ['A', 'B', 'K', 'D'],
 'student_age': [15, 10, 20, 51],
 'region': ['S', 'E', 'W', 'N'],
 'marks': [10, 20, 35, 40]}

In [63]:
dict1.keys()

dict_keys(['student_name', 'student_age', 'region', 'marks'])

In [64]:
dict1['mks']=dict1.pop('marks')

In [65]:
dict1

{'student_name': ['A', 'B', 'K', 'D'],
 'student_age': [15, 10, 20, 51],
 'region': ['S', 'E', 'W', 'N'],
 'mks': [10, 20, 35, 40]}

In [66]:
dict1['marks']=dict1.pop('mks')

In [67]:
dict1

{'student_name': ['A', 'B', 'K', 'D'],
 'student_age': [15, 10, 20, 51],
 'region': ['S', 'E', 'W', 'N'],
 'marks': [10, 20, 35, 40]}

In [68]:
dict1.setdefault('DOJ')

In [70]:
dict1

{'student_name': ['A', 'B', 'K', 'D'],
 'student_age': [15, 10, 20, 51],
 'region': ['S', 'E', 'W', 'N'],
 'marks': [10, 20, 35, 40],
 'DOJ': None}

In [71]:
dict1['DOJ']=['J','F','M','A']

In [73]:
dict1

{'student_name': ['A', 'B', 'K', 'D'],
 'student_age': [15, 10, 20, 51],
 'region': ['S', 'E', 'W', 'N'],
 'marks': [10, 20, 35, 40],
 'DOJ': ['J', 'F', 'M', 'A']}

In [74]:
dict1.values()

dict_values([['A', 'B', 'K', 'D'], [15, 10, 20, 51], ['S', 'E', 'W', 'N'], [10, 20, 35, 40], ['J', 'F', 'M', 'A']])

In [79]:
mydict1 ={1:2, 3:4}
mydict2 ={5:6, 7:8}

In [80]:
mydict1.update(mydict2)

In [81]:
mydict1

{1: 2, 3: 4, 5: 6, 7: 8}

In [84]:
len (mydict1)

4

In [ ]:
#sets

In [85]:
set1=set([1,1,2,3,2])

In [86]:
set1

{1, 2, 3}

In [87]:
set1.add(10)

In [88]:
set1

{1, 2, 3, 10}

In [89]:
set1.discard(10)

In [90]:
set1

{1, 2, 3}

In [94]:
set2={3,4}

In [95]:
set2

{3, 4}

In [97]:
set2.difference(set1)

{4}

In [98]:
set1.difference(set2)

{1, 2}

In [101]:
set2.difference_update(set1)

In [102]:
set2

{3, 4}

In [103]:
set1.difference_update(set2)

In [110]:
set1={1,2,3,4}

In [105]:
set2={2,3,4}

In [111]:
set2.isdisjoint(set1)

False

In [112]:
set1.isdisjoint(set2)

False

In [113]:
set1.issubset(set2)

False

In [114]:
set2.issubset(set1)

True

In [115]:
set1.issuperset(set2)

True